.wrapper {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0;
}

.spinner {
  border-width: 0.75rem;
  display: inline-block;
  height: 1.5rem !important;
  margin: 0 0 0 1rem !important;
  width: 1.5rem !important;
}

.payments {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top: auto;
}
