.player {
  background: var(--charcoal);
  bottom: 0;
  color: var(--light-grey);
  font-size: 2rem;
  position: fixed;
  text-align: center;
  transform: translateY(100%);
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  visibility: hidden;
  width: 100%;
  z-index: 1030;
}

.show {
  transform: translateY(0);
  visibility: visible;
}

.hide {
  color: var(--light-grey);
  font-size: 1.5rem;
}

.interface {
  align-items: center;
  height: 3.25rem;
}

.controls {
  align-items: center;
  display: flex;
  justify-content: center;
}

.playerButton {
  margin: 0 0.5rem 0 0;
  transition: color 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  width: 1.25rem;
}

.playerButton > svg {
  height: 2rem;
  padding: 0;
  width: 2rem;
}

.playerButton:hover,
.currentTime:hover {
  color: #f0f0f1;
  cursor: pointer;
}

.currentTime {
  padding: 0 1rem;
  display: inline-block;
  text-align: right;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  width: 8rem;
}

.currentTime:focus {
  outline: none;
}

.seek {
  height: 4px;
  position: relative;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
  width: 100%;
}

.buffered {
  background: var(--mid-grey);
  height: 100%;
  left: 0;
  position: absolute;
}

.progress {
  background: var(--light-grey);
  height: 100%;
  position: absolute;
  transition: 0.125s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.player:hover .seek {
  background: var(--dark-grey);
  cursor: pointer;
  height: 8px;
  margin-top: 6px;
}

.player:hover .progress {
  background: var(--cyan);
}

.trackInfo {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 1rem;
  text-align: left;
  text-overflow: ellipsis;
}

@media (min-width: 576px) {
  .controls {
    justify-content: flex-end;
  }
}
