.status {
  align-items: center;
  background: var(--dark-grey);
  border-radius: 50%;
  display: flex;
  font-size: 2rem;
  height: 2.75rem;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.75rem;
  z-index: 2;
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}
