.overlay {
  backface-visibility: hidden;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1070;
}

.content {
  backface-visibility: hidden;
  flex: 1 1 auto;
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem;
  z-index: 1080;
}

.closeIcon {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  transition: color 100ms ease-in;
}

.closeIcon:hover {
  color: var(--cyan);
  cursor: pointer;
}
