.tags {
  margin-bottom: 1.5rem;
}

.tag {
  background-color: #000;
  border-radius: 0.5rem;
  color: var(--lighter-grey);
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.375rem 0.75rem;
  transition: color 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
  user-select: none;
}

.tag:hover {
  color: var(--red);
}

.remove {
  color: var(--light-grey);
  margin-left: 0.5rem;
  transition: color 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.tag:hover .remove {
  color: var(--red);
}

.clear {
  margin-left: 1rem;
  font-size: 0.875rem;
}
