input[type='date'] {
  /* height: 3.625rem; */
}

.cover-art {
  display: block;
  margin: 0 auto 2rem;
  position: relative;
}

.cover-art-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  background: rgba(0, 0, 0, 0.5);
}

.cover-art-overlay:hover,
.cover-art-overlay:active {
  opacity: 1;
}

.cover-art-overlay .delete {
  padding-right: 1.5rem;
}

.cover-art-overlay .delete .btn.btn-link {
  font-size: 4rem;
  color: var(--lighter-grey);
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.cover-art-overlay .delete .btn.btn-link:hover {
  color: var(--off-white);
}

.dropzone-art {
  background: #000;
  border: 2px dashed var(--light-grey);
  border-radius: 0.25rem;
  color: var(--light-grey);
  font-weight: 600;
  margin: 2rem auto;
  max-height: 12rem;
  min-height: 8rem;
  overflow: hidden;
  padding: 1rem;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.dropzone-art p {
  margin: 0;
}

.dropzone-art:hover {
  background-color: #000;
  border-color: var(--cyan);
  color: var(--cyan);
  cursor: pointer;
}

.dropzone-art.active,
.dropzone-art.uploading {
  background-color: #000;
  border-color: var(--yellow);
  color: var(--yellow);
  cursor: pointer;
}

.dropzone-art.rejected {
  background-color: #000;
  border-color: var(--red);
  color: var(--red);
  cursor: not-allowed;
}

.dropzone-art.disabled:hover {
  cursor: wait;
}

.dropzone-audio {
  align-items: center;
  align-self: stretch;
  background-color: #000;
  border: 2px dashed var(--light-grey);
  border-radius: 0.25rem;
  color: var(--light-grey);
  display: flex;
  flex: 1 0 12rem;
  font-weight: bold;
  justify-content: center;
  margin: 0 0 0 1rem;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.dropzone-audio:hover {
  background-color: #000;
  border-color: var(--cyan);
  color: var(--cyan);
  cursor: pointer;
}

.dropzone-audio.active {
  background-color: #000;
  border-color: var(--green);
  color: var(--green);
  cursor: pointer;
}

.dropzone-audio.uploading {
  background-color: #000;
  border-color: var(--yellow);
  color: var(--yellow);
  cursor: pointer;
}

.dropzone-audio.disabled:hover {
  cursor: wait;
}

.dropzone-audio.complete:not(.active) {
  background-color: #000;
  border-color: var(--light-grey);
  color: var(--light-grey);
}

.dropzone-audio.complete:hover {
  background-color: #000;
  border-color: var(--cyan);
  color: var(--cyan);
}

.dropzone-audio.rejected {
  background-color: #000;
  border-color: var(--red);
  color: var(--red);
  cursor: not-allowed;
}

.invalid input.form-control,
.invalid {
  border-color: var(--red);
}

.invalid-feedback {
  color: var(--red);
  display: inherit;
}

button.toggle-advanced {
  padding: 0.375rem 0.75rem;
}

.track-list-title {
  margin: 2rem 0 1rem;
}

.track-list label {
  color: var(--mid-grey);
  cursor: move;
  cursor: grab;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  padding-right: 1rem;
  user-select: none;
}

.track-list .list-group-item:first-child {
  border-radius: 0;
}

.track-list .list-group-item {
  background: var(--charcoal);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  cursor: move;
  cursor: grab;
  margin-bottom: 15px;
  padding: 1rem;
  transition: border-color 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.track-list .list-group-item:last-child {
  border-radius: 0;
}

.track-list .list-group-item:hover .btn,
.track-list .list-group-item:active .btn {
  opacity: 1;
  visibility: visible;
}

.track-list .list-group-item .btn {
  border-radius: 0.25rem;
  color: var(--light-grey);
  margin: 0 0 0 0.25rem;
  min-width: auto;
  opacity: 0;
  padding: 0.25rem 0.75rem;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
  visibility: hidden;
}

.track-list .list-group-item .btn:not(:hover) {
  background: #000;
}

.track-list .list-group-item .btn:hover {
  color: var(--off-white);
}

.track-list .list-group-item .btn:disabled {
  border: 0;
}

.track-list .list-group-item .btn.delete-active {
  background-color: var(--red);
  color: var(--off-white);
  opacity: 1;
  visibility: visible;
}

.track-list .list-group-item .btn:last-of-type {
  margin-right: 0;
}

.btn.add-track {
  min-width: auto;
}

.track-list .list-group-item.incomplete {
  border-left: 4px solid var(--red);
}

.track-list .list-group-item.complete {
  border-left: 4px solid var(--cyan);
}

.track-list .list-group-item.processing {
  border-left: 4px solid var(--yellow);
}

.track-list .list-group-item.drag-origin {
  opacity: 0.5;
}

.track-list .list-group-item.drag-active {
  border-left: 4px solid var(--yellow);
}

div.tag {
  background-color: #000;
  border-radius: 0.5rem;
  color: var(--lighter-grey);
  cursor: pointer;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  transition: all 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  user-select: none;
}

div.tags button.btn.clear-tags {
  border-width: 0;
  min-width: auto;
}

div.tag .remove-tag {
  color: var(--light-grey);
  transition: all 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

div.tag:hover .remove-tag {
  color: var(--red);
}
