.env*
.pnp.*
.vscode
.yarn/*
**/*.tsbuildinfo
**/dist
hardhat/.*
hardhat/artifacts
hardhat/cache
hardhat/typechain-types
manifests/secrets
node_modules
!apps/client/.env.production
!.yarn/plugins
!.yarn/releases