.heading {
  margin-bottom: 1rem;
}

.note {
  color: #ff5349;
  padding: 0 1rem;
}

.step {
  display: flex;
  flex-direction: column;
}

.button {
  align-self: flex-end;
}

.icon {
  margin-left: 0.25rem;
  margin-right: 0;
}
