.heading {
  margin-bottom: 1rem;
}

.note {
  color: var(--yellow);
  padding: 0 1rem;
}

.step {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  right: 0;
}

.number {
  color: var(--light-grey);
}

.button {
  bottom: 0;
  position: absolute;
  right: 0;
}

.icon {
  margin-left: 0.25rem;
  margin-right: 0;
}
