.heading {
  margin-bottom: 1rem;
}

.note {
  color: #ff5349;
  padding: 0 1rem;
}

.step {
  left: 0;
  position: absolute;
  right: 0;
}

.button {
  bottom: 0;
  position: absolute;
  right: 0;
}

.icon {
  margin-left: 0.25rem;
  margin-right: 0;
}
