.download {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.download:last-child {
  margin-bottom: 0;
}

.button {
  margin-bottom: 1rem;
}

.title {
  font-style: italic;
}

.note {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
