.downloadGroup {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.download {
  margin-bottom: 1rem;
}

.download:hover {
  color: #000;
}

.title {
  font-style: italic;
}

.note {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
