.node {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.refresh {
}

.summary {
  background: none;
  border: 0;
  color: #18cdca;
  display: block;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  text-align: left;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
  width: 100%;
}

.summary:disabled {
  cursor: wait;
  opacity: 0.5;
}

.summary:last-child {
  margin-bottom: 0;
}
