.summary {
  background: none;
  border: 0;
  color: var(--off-white);
  display: block;
  margin-bottom: 4rem;
  padding: 0;
  text-align: left;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
  width: 100%;
}

.summary:disabled {
  cursor: wait;
  opacity: 0.5;
}

.summary:last-child {
  margin-bottom: 0;
}

.info {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.paid {
  color: var(--yellow);
  font-weight: 700;
}

.node {
  color: var(--light-grey);
  display: inline-block;
  flex: 1 1 auto;
  font-weight: 700;
  overflow: hidden;
  margin-left: 2rem;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.refresh {
  display: flex;
  color: var(--cyan);
  flex-wrap: nowrap;
  font-weight: 700;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.button {
  flex: 1 0 auto;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  display: inline-block;
}
