.node {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paid {
  display: inline-block;
  margin: 0;
}

.refresh {
  display: flex;
  align-items: baseline;
}

.summary {
  background: none;
  border: 0;
  color: #18cdca;
  display: block;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
  width: 100%;
}

.summary:disabled {
  cursor: wait;
  opacity: 0.5;
}
