.track {
  font-weight: 400;
  text-transform: initial;
}

.nowPlaying {
  animation: now-playing 500ms cubic-bezier(0, 0.85, 0.15, 1) alternate infinite 250ms;
  color: #18cdca;
  padding-left: 0.5rem;
}

@keyframes now-playing {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
