.button {
  align-items: center;
  background-color: var(--charcoal);
  border: 0;
  border-radius: 0.5rem;
  color: var(--cyan);
  display: flex;
  flex: 1;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.075rem;
  padding: 0.25rem;
  text-transform: uppercase;
  transition: background-color 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.button:hover {
  background-color: #000;
}

.icon {
  color: var(--cyan);
  margin-right: 0.5rem;
  transition: color 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.button:hover .icon {
  color: var(--yellow);
}

.saved {
  composes: icon;
  color: var(--yellow);
}
