.heading {
  margin-top: 1.5rem;
  text-align: center;
}

.submit {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.trackListTitle {
  margin: 2rem 0 1rem;
  text-align: center;
}

.showAdvanced {
  margin-bottom: 1rem;
  min-width: 8.5rem;
}

.error {
  color: var(--red);
  text-align: right;
}

.error > .icon {
  margin-right: 0.5rem;
}
