.wrapper {
  margin: 0;
  position: relative;
}

.copyText,
.copyText[readonly],
.copyText:active,
.copyText:disabled,
.copyText:focus {
  background: hsla(233, 10%, 5%, 1);
  border: 0;
  border-radius: 0.5rem;
  color: var(--off-white);
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  text-align: center;
}

.copyText:hover {
  cursor: pointer;
}

.icon {
  color: hsla(233, 10%, 50%, 1);
  left: 1rem;
  pointer-events: none;
  position: absolute;
  top: 0.9rem;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.success {
  color: var(--off-white);
}

.iconSuccess {
  margin-right: 1rem;
  user-select: none;
}

.copyText:hover + .icon {
  color: #18cdca;
}

.copyText::selection {
  background-color: #18cdca;
}
