.frontPage {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

.sortButton {
  background: none;
  border: none;
  color: hsla(233, 10%, 50%, 1);
  width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.sortButton:hover {
  background: none;
  border: none;
  color: #18cdca;
}

@media (min-width: 576px) {
  .frontPage {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .frontPage {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .frontPage {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1600px) {
  .frontPage {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1920px) {
  .frontPage {
    grid-template-columns: repeat(6, 1fr);
  }
}
