.button {
  align-items: center;
  background: #000;
  border: 0;
  border-radius: 10rem;
  color: var(--cyan);
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.075rem;
  margin-bottom: 0.5rem;
  min-width: 12rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: all 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
}

.button:hover:not(:disabled) {
  background: var(--cyan);
  color: #000;
}

.button:disabled,
.link:disabled {
  background: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.button.large {
  font-size: 1.2rem;
}

.button.small {
  font-size: 0.875rem;
  min-width: auto;
  padding: 0.375rem 0.75rem;
}

.icon {
  color: var(--cyan);
  transition: all 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
  margin-right: 0.5rem;
}

.active .icon {
  color: var(--cyan);
}

.button:hover:not(:disabled) .icon {
  color: #000;
}

.secondary {
  background: var(--charcoal);
}

.secondary:hover:not(:disabled) {
  background: #000;
  color: var(--cyan);
}

.secondary:hover:not(:disabled) .icon {
  color: var(--cyan);
}

.chevron {
  margin-left: 0.5rem;
  transition: transform 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
}

.rotate {
  transform: rotate(180deg);
}

.link {
  margin-bottom: 0.5rem;
  background: none;
  background-color: initial;
  border: 0;
  color: var(--cyan);
  font-size: inherit;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 250ms cubic-bezier(0.2, 0.8, 0.4, 1);
  white-space: normal;
  vertical-align: initial;
}

.link:hover:not(:disabled) {
  animation: blink 500ms cubic-bezier(0, 0.85, 0.85, 1);
  color: var(--cyan);
}

.link .icon {
  color: var(--cyan);
  margin-right: 0.25rem;
}

.spin {
  animation: spin 1s cubic-bezier(0.8, 0.2, 0.2, 0.6) 0s infinite normal none;
}

.link:hover .icon:not(.spin) {
  animation: blink 750ms cubic-bezier(0, 0.85, 0.85, 1) 50ms;
  color: var(--cyan);
}

@keyframes blink {
  from {
    color: #000;
  }

  10% {
    color: #fff;
  }

  to {
    color: var(--cyan);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
