.user-releases {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  padding: 0;
}

.user-releases .btn {
  background: #000;
  border: 0;
  border-radius: 0;
  color: hsla(233, 10%, 75%, 1);
  flex: 1 0 6rem;
  min-width: auto;
  padding: 0.25rem 0.75rem;
}

.user-releases .btn.btn-outline-danger:disabled,
.user-releases .btn.btn-outline-danger:disabled:hover,
.user-releases .btn.btn-outline-warning:disabled,
.user-releases .btn.btn-outline-warning:disabled:hover {
  background-color: transparent;
  color: hsla(233, 10%, 75%, 1);
  cursor: default;
}

a.btn.add-release {
  display: inline-block;
  padding: 0.5rem 1rem;
  min-width: auto;
}

form.nem-address {
  background-color: hsla(233, 10%, 10%, 1);
  border-radius: 0.5rem;
}

.nem-address .status {
  border-radius: 0.5rem;
  color: hsla(233, 10%, 10%, 1);
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: 0.5rem;
  text-transform: uppercase;
  padding: 0.125rem 0.5rem;
}

.nem-address .status.confirmed {
  background: #18cdca;
}

.nem-address .status.unconfirmed {
  background: #ff5349;
  color: #f0f0f1;
}

.nem-address .signed-message {
  height: 6rem;
  resize: none;
}

.payment-address {
  font-size: 1.75rem;
  text-overflow: ellipsis;
  text-align: center;
}

.user-releases .release-button-group {
  border-radius: 0.5rem;
  flex-wrap: wrap;
  overflow: hidden;
}

.user-releases .btn:hover {
  cursor: pointer;
}

.user-releases .btn:active {
  color: #292c44;
}

.user-releases .release {
  background: hsla(233, 10%, 10%, 1);
  border: none;
  list-style: none;
  position: relative;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.user-releases .release:last-child {
  margin-bottom: 0;
}

.user-releases .status-icon-bg {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  font-size: 2rem;
  height: 2.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
}

.user-releases .status-icon {
  font-size: 2rem;
}

.user-releases .release-details {
}

.user-releases .release-price {
  margin: 0 0.5rem;
  vertical-align: text-top;
}

.user-releases .artwork {
  background: hsla(233, 10%, 10%, 1);
  width: 100%;
}

@media (min-width: 576px) {
  .user-releases {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .user-releases {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .user-releases {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .user-releases {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .user-releases {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1920px) {
  .user-releases {
    grid-template-columns: repeat(5, 1fr);
  }
}
