.user-releases {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  padding: 0;
}

.user-releases .btn {
  background: #000;
  border: 0;
  border-radius: 0;
  color: hsla(233, 10%, 75%, 1);
  min-width: auto;
  padding: 0.25rem 0.75rem;
}

.user-releases .btn.btn-outline-primary {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.user-releases .btn.btn-outline-danger {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.user-releases .btn.btn-outline-danger:disabled,
.user-releases .btn.btn-outline-danger:disabled:hover,
.user-releases .btn.btn-outline-warning:disabled,
.user-releases .btn.btn-outline-warning:disabled:hover {
  background-color: transparent;
  color: hsla(233, 10%, 75%, 1);
  cursor: default;
}

a.btn.add-release {
  display: inline-block;
  padding: 0.5rem 1rem;
  min-width: auto;
}

.payment-address {
  font-size: 1.75rem;
  text-overflow: ellipsis;
  text-align: center;
}

.user-releases .btn:hover {
  cursor: pointer;
}

.user-releases .btn:active {
  color: #292c44;
}

.user-releases .release {
  background: hsla(233, 10%, 10%, 1);
  border: none;
  list-style: none;
  position: relative;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.user-releases .release:last-child {
  margin-bottom: 0;
}

.user-releases .status-icon-bg {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  font-size: 2rem;
  height: 2.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem;
}

.user-releases .status-icon {
  font-size: 2rem;
}

.user-releases .release-details {
}

.user-releases .release-price {
  margin: 0 0.5rem;
  vertical-align: text-top;
}

.user-releases .artwork {
  background: hsla(233, 10%, 10%, 1);
  /* margin-bottom: 0.5rem; */
  width: 100%;
}

@media (min-width: 1200px) {
  .user-releases {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 0.25fr));
  }
}
