input[type='date'] {
  height: 3.625rem;
}

.cover-art {
  display: block;
  margin: 0 auto 2rem;
  position: relative;
}

.cover-art-overlay {
  font-size: 4rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  background: rgba(0, 0, 0, 0.5);
}

.cover-art-overlay:hover {
  opacity: 1;
}

.cover-art-overlay .delete {
  padding-right: 1.5rem;
}

.cover-art-overlay .delete a {
  color: #999;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.cover-art-overlay .delete a:hover {
  color: #fff;
  cursor: pointer;
}

.dropzone-art {
  border: 2px dashed #999;
  border-radius: 0.25rem;
  color: #999;
  margin: 2rem auto;
  max-height: 12rem;
  padding: 1rem;
  text-align: center;
  transition: 0.25s;
}

.dropzone-art:hover {
  background-color: #fff;
  border-color: #5ab3e8;
  color: #5ab3e8;
  cursor: pointer;
}

.dropzone-art-active {
  background-color: #fff;
  border-color: #41ce7c;
  color: #41ce7c;
}

.track-list .list-group-item .dropzone-audio {
  border-style: dashed;
  margin-top: 1rem;
}

.track-list .list-group-item .dropzone-audio-active {
  background-color: #fff;
  border-color: #41ce7c;
  color: #41ce7c;
}

.invalid input.form-control,
.invalid {
  border-color: #ff0050;
}

.invalid-feedback {
  color: #ff0050;
  display: inherit;
}

.track-list-title {
  margin: 2rem 0 1rem;
}

.track-list .form-control,
.track-list .form-control:focus {
  padding: 0.5rem;
}

.track-list label {
  color: #999;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  padding-right: 1rem;
}

.track-list .list-group-item:first-child {
  border-top: 2px dashed rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.track-list .list-group-item {
  background: none;
  border: none;
  border-right: 2px dashed rgba(0, 0, 0, 0.15);
  border-bottom: 2px dashed rgba(0, 0, 0, 0.15);
  margin-bottom: 0;
  padding: 1rem;
}

.track-list .list-group-item:last-child {
  border-radius: 0;
}

.track-list .list-group-item .btn {
  margin-top: 0.75rem;
  margin-right: 0.25rem;
  width: 6rem;
}

.track-list .list-group-item .btn:last-of-type {
  margin-right: 0;
}

.btn.add-track {
  margin: 1rem 0.25rem 0 calc(1rem + 4px);
  margin-right: 0.25rem;
  width: 6rem;
}

.track-list .list-group-item.audio-true {
  border-left: 4px solid #41ce7c;
}

.track-list .list-group-item.audio-false {
  border-left: 4px solid #ff0050;
}

.track-list .list-group-item.audio-uploading {
  border-left: 4px solid #5ab3e8;
}
