header {
  animation: fadeIn 0.5s cubic-bezier(0.2, 0.8, 0.4, 1) 1 normal;
  background: hsla(233, 10%, 20%, 1);
}

.header-logo {
  animation: title 2s cubic-bezier(0.2, 0.8, 0.4, 1) 1 normal;
  display: block;
  height: auto;
  margin: 1rem auto 0 auto;
  max-width: 20rem;
}

.header-logo:hover path.layer1 {
  fill: #18cdca;
}

.header-logo:hover path.layer3 {
  fill: hsla(233, 10%, 50%, 1);
}

path.layer0 {
  fill: hsla(233, 10%, 10%, 1);
}

path.layer1 {
  fill: #f0f0f1;
  transition: all 1s cubic-bezier(0.2, 0.8, 0.4, 1);
}

path.layer2 {
  fill: #000;
}

path.layer3 {
  fill: #ff5349;
  transition: all 1s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.title {
  animation: title 2s cubic-bezier(0.2, 0.8, 0.4, 1) 1 normal;
}

.gradient {
  animation: fadeIn 1s cubic-bezier(0.2, 0.8, 0.4, 1) 1 normal;
  background: linear-gradient(to right, #ff5349, #18cdca);
  height: 4px;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes title {
  from {
    opacity: 0;
    transform: scaleX(1.05);
  }

  to {
    opacity: 1;
    transform: unset;
  }
}
