header {
  animation: fadeIn 0.5s cubic-bezier(0.2, 0.8, 0.4, 1) 1 normal;
  background: #fff;
}

.header-logo {
  animation: title 2s cubic-bezier(0.2, 0.8, 0.4, 1) 1 normal;
  display: block;
  height: auto;
  margin: 1rem auto 0 auto;
  max-width: 20rem;
}

path.layer0 {
  fill: #666;
}

path.layer1 {
  fill: #fff;
}

path.layer2 {
  fill: #41ce7c;
}

path.layer3 {
  fill: #5ab3e8;
}

.title {
  animation: title 2s cubic-bezier(0.2, 0.8, 0.4, 1) 1 normal;
}

.gradient {
  animation: fadeIn 1s cubic-bezier(0.2, 0.8, 0.4, 1) 1 normal;
  background: linear-gradient(to right, #41ce7c, #5ab3e8);
  height: 4px;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes title {
  from {
    opacity: 0;
    transform: scaleX(1.05);
  }

  to {
    opacity: 1;
    transform: unset;
  }
}
