.front-page {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.front-page .cover-artwork {
  position: relative;
}

.front-page .cover-artwork img.artwork {
  width: 100%;
}

.front-page .cover-artwork .cover-artwork-overlay {
  align-items: stretch;
  background: rgba(0, 0, 0, 0.5);
  color: hsla(233, 10%, 75%, 1);
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  visibility: hidden;
}

.front-page .cover-artwork .cover-artwork-overlay a {
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  color: hsla(233, 10%, 75%, 1);
}

.front-page .cover-artwork .cover-artwork-overlay a:hover {
  color: #fff;
}

.front-page .cover-artwork:hover .cover-artwork-overlay,
.front-page .cover-artwork:active .cover-artwork-overlay {
  opacity: 1;
  visibility: visible;
}

.front-page .cover-artwork .cover-artwork-overlay .buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.front-page .cover-artwork .cover-artwork-overlay .info,
.front-page .cover-artwork .cover-artwork-overlay .play,
.front-page .cover-artwork .cover-artwork-overlay .download {
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.front-page .cover-artwork .cover-artwork-overlay .info:hover,
.front-page .cover-artwork .cover-artwork-overlay .play:hover,
.front-page .cover-artwork .cover-artwork-overlay .download:hover {
  color: #f0f0f1;
  cursor: pointer;
  transform: scale(1.1);
}

.front-page .cover-artwork .artist-name,
.front-page .cover-artwork .release-title {
  color: hsla(233, 10%, 75%, 1);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  text-align: center;
}

@media (min-width: 1200px) {
  .front-page {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 0.25fr));
  }
}

@media (min-width: 1600px) {
  .front-page {
    grid-template-columns: repeat(auto-fit, minmax(22rem, 0.25fr));
  }

  .front-page .cover-artwork .cover-artwork-overlay {
    font-size: 5rem;
  }
}
