.front-page {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

.front-page .cover-artwork {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

img.placeholder {
  flex: none;
  margin-left: -100%;
  width: 100%;
  z-index: -1;
}

.front-page .cover-artwork img.artwork {
  flex: none;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  width: 100%;
}

.front-page .cover-artwork:hover img.artwork {
  /* filter: blur(1.125px) grayscale(25%); // Causes glitches on win.
  transform: scale(1.01); */
}

.front-page .cover-artwork:hover .artwork-overlay,
.front-page .cover-artwork:active .artwork-overlay {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.front-page .cover-artwork .artwork-overlay {
  background: rgba(0, 0, 0, 0.5);
  color: hsla(233, 10%, 75%, 1);
  display: flex;
  flex: none;
  flex-direction: column;
  font-size: 4rem;
  justify-content: space-between;
  margin-left: -100%;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  visibility: hidden;
  width: 100%;
}

.front-page .cover-artwork .artwork-overlay .buttons {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.front-page .cover-artwork .artwork-overlay .buttons a,
.front-page .cover-artwork .artwork-overlay .buttons button {
  backface-visibility: hidden;
  background: none;
  border: none;
  color: hsla(233, 10%, 75%, 1);
  flex: 0 1 50%;
  padding: 0;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.front-page .cover-artwork .artwork-overlay .buttons a:hover,
.front-page .cover-artwork .artwork-overlay .buttons button:hover {
  /* background: rgba(0, 0, 0, 0.5); */
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.front-page .cover-artwork .artwork-overlay .buttons a .fa,
.front-page .cover-artwork .artwork-overlay .buttons button .fa {
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.front-page .cover-artwork .artwork-overlay .buttons a:hover .fa,
.front-page .cover-artwork .artwork-overlay .buttons button:hover .fa {
  color: #fff;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
  transform: scale(1.2);
}

.front-page .cover-artwork .artwork-overlay .buttons button .label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: -1.2rem;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.front-page .cover-artwork .artwork-overlay .buttons button:hover .label {
  color: #fff;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.front-page .cover-artwork .artwork-overlay a.artist-name,
.front-page .cover-artwork .artwork-overlay a.release-title {
  color: hsla(233, 10%, 75%, 1);
  flex: 0 1 auto;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  text-align: center;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.front-page .cover-artwork .artwork-overlay a.artist-name:hover,
.front-page .cover-artwork .artwork-overlay a.release-title:hover {
  /* background: rgba(0, 0, 0, 0.5); */
  color: #fff;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.btn-outline-primary.sort-btn {
  background: none;
  border: none;
  color: hsla(233, 10%, 50%, 1);
  width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.btn-outline-primary.sort-btn:hover {
  background: none;
  border: none;
  color: #18cdca;
}

@media (min-width: 576px) {
  .front-page {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .front-page {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .front-page {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1600px) {
  .front-page {
    grid-template-columns: repeat(5, 1fr);
  }

  .front-page .cover-artwork .artwork-overlay {
    font-size: 5rem;
  }
}

@media (min-width: 1920px) {
  .front-page {
    grid-template-columns: repeat(6, 1fr);
  }
}
