@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

body {
  background-color: #f8f8f8;
  color: #111;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  margin: 15px 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto Condensed', sans-serif;
}

h2,
h3 {
  color: #333;
  margin-bottom: 1rem;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  color: #5ab3e8;
  font-weight: bold;
  text-decoration: none;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.alert {
  border-width: 2px;
}

.alert-danger {
  background-color: #fff;
  border-color: #ff0050;
  color: #ff0050;
}

.btn {
  border-radius: 10rem;
  border-width: 2px;
  font-weight: bold;
  width: 18rem;
}

.btn-sm {
  padding: 0 0.5rem;
  margin-top: 0;
}

.btn-outline-primary {
  background-color: #fff;
  border-color: #5ab3e8;
  color: #5ab3e8;
}

.btn-outline-primary:hover {
  background-color: #5ab3e8;
  border-color: #5ab3e8;
  color: #fff;
  cursor: pointer;
}

.btn-outline-primary:disabled,
.btn-outline-primary:disabled:hover {
  background-color: transparent;
  color: #5ab3e8;
  cursor: default;
}

.btn-outline-secondary {
  background-color: #fff;
  border-color: #999;
  color: #999;
}

.btn-outline-secondary:hover {
  background-color: #999;
  border-color: #999;
  color: #fff;
  cursor: pointer;
}

.btn-outline-secondary:disabled {
  color: #999;
}

.btn-outline-success {
  background-color: #fff;
  border-color: #41ce7c;
  color: #41ce7c;
}

.btn-outline-success:hover {
  background-color: #41ce7c;
  border-color: #41ce7c;
  color: #fff;
  cursor: pointer;
}

.btn-outline-success:focus {
  box-shadow: 0 0 0 3px rgba(65, 206, 124, 0.25);
}

.btn-outline-warning {
  background-color: #fff;
  border-color: #ffaa00;
  color: #ffaa00;
}

.btn-outline-warning:hover {
  background-color: #ffaa00;
  border-color: #ffaa00;
  cursor: pointer;
  color: #fff;
}

.btn-outline-warning:focus {
  box-shadow: 0 0 0 3px rgba(255, 170, 0, 0.25);
}

.btn-outline-danger {
  background-color: #fff;
  border-color: #ff0050;
  color: #ff0050;
}

.btn-outline-danger:hover {
  background-color: #ff0050;
  border-color: #ff0050;
  color: #fff;
  cursor: pointer;
}

.btn-outline-danger:focus {
  box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.25);
}

.icon-left {
  margin-right: 0.5rem;
}

.icon-right {
  margin-left: 0.5rem;
}

.form-control,
.form-control:focus {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  color: #333;
  font-size: 1.5rem;
  padding: 0.75rem;
}

.form-control:focus {
  border-color: #41ce7c;
}

.form-control:disabled {
  background-color: transparent;
}

.form-control::placeholder {
  color: #999;
}

form {
  margin-bottom: 2rem;
}

.please-note {
  color: #ff0050;
  padding: 0 1rem;
}

img {
  transition: opacity 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
}
