nav.navbar,
nav.navbar.sub-menu {
  background-color: hsla(233, 10%, 20%, 1);
  height: 2.5rem;
  padding: 0;
}

.navbar-nav {
  flex-direction: row;
}

nav.navbar a {
  color: hsla(233, 10%, 75%, 1);
  transition-duration: 0.25s;
}

nav.navbar a.active,
nav.navbar.sub-menu a.active {
  background: hsla(233, 10%, 15%, 1);
  color: #f0f0f1;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0.5rem 15px;
  text-transform: uppercase;
}

nav.navbar .nav-item a.nav-link:hover {
  color: #18cdca;
}

nav.navbar .nav-item:last-of-type {
  margin-right: 0;
}

nav.navbar a.navbar-brand-link {
  align-content: center;
  border: 0;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  opacity: 0;
  visibility: hidden;
}

nav.navbar a.show.navbar-brand-link {
  opacity: 1;
  visibility: visible;
}

.navbar-brand {
  fill: hsla(233, 10%, 50%, 1);
  height: auto;
  margin: 0;
  padding: 0;
  transition-duration: 0.25s;
  width: 4rem;
}

nav.navbar a .navbar-brand:hover {
  fill: #18cdca;
}

nav .icon-left {
  margin-right: 0.25rem;
}

span.nav-label {
  display: none;
}

@media (min-width: 992px) {
}

@media (min-width: 576px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }

  span.nav-label {
    display: inline;
  }
}
