nav.navbar {
  background-color: #fff;
  padding: 0;
}

.navbar-nav {
  flex-direction: row;
}

nav.navbar a {
  color: #999;
  transition-duration: 0.25s;
}

nav.navbar a.active {
  background: #f8f8f8;
  color: #666;
}

nav.navbar a.active:hover {
  border-color: #5ab3e8;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0.5rem 15px;
}

nav.navbar .nav-item a.nav-link:hover {
  color: #5ab3e8;
}

nav.navbar .nav-item:last-of-type {
  margin-right: 0;
}

nav.navbar a.navbar-brand-link {
  flex-direction: column;
  display: flex;
  align-content: center;
  margin-left: 15px;
  border: 0;
}

.navbar-brand {
  fill: #999;
  height: auto;
  margin: 0;
  padding: 0;
  transition-duration: 0.25s;
  width: 4rem;
}

nav.navbar a .navbar-brand:hover {
  fill: #666;
}

nav .icon-left {
  margin-right: 0.25rem;
}

span.nav-label {
  display: none;
}

@media (min-width: 992px) {
}

@media (min-width: 576px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }

  span.nav-label {
    display: inline;
  }
}
