nav.navbar,
nav.navbar.sub-menu {
  background-color: hsla(233, 10%, 20%, 1);
  height: 2.5rem;
  padding: 0;
}

.navbar-nav {
  flex-direction: row;
  opacity: 0;
  transform: translateY(0.25rem);
  transition: all 2s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.navbar-nav.loaded,
.navbar.sub-menu .navbar-nav {
  transform: translateY(0);
  opacity: 1;
}

nav.navbar a,
nav.navbar button {
  color: hsla(233, 10%, 75%, 1);
  font-weight: 600;
  transition-duration: 0.25s;
}

nav.navbar button {
  background-color: inherit;
  border: inherit;
}

nav.navbar a.active,
nav.navbar button.active,
nav.navbar.sub-menu a.active {
  background: hsla(233, 10%, 15%, 1);
  color: #f0f0f1;
}

nav.navbar a.active .fa,
nav.navbar button.active .fa,
nav.navbar.sub-menu a.active .fa {
  color: #ffd24d;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
}

nav.navbar.sub-menu .fa.no-address {
  color: #ff5349;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0.5rem 15px;
  text-transform: uppercase;
}

nav.navbar .nav-item a.nav-link:hover,
nav.navbar .nav-item button.nav-link:hover,
nav.navbar a.active:hover .fa,
nav.navbar button.active:hover .fa,
nav.navbar.sub-menu a.active:hover .fa {
  color: #18cdca;
}

nav.navbar .nav-item:last-of-type {
  margin-right: 0;
}

nav.navbar a.navbar-brand-link {
  align-content: center;
  border: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
}

nav.navbar a.show.navbar-brand-link {
  opacity: 1;
  visibility: visible;
}

.navbar-brand {
  fill: hsla(233, 10%, 50%, 1);
  height: auto;
  margin: 0;
  padding: 0;
  transition-duration: 0.25s;
  width: 4rem;
}

nav.navbar a .navbar-brand:hover {
  fill: #18cdca;
}

span.nav-label,
nav span.credit {
  display: none;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }

  span.nav-label,
  nav span.credit {
    display: inline;
  }
}

@media (min-width: 576px) {
}
