.address {
  font-size: 1.75rem;
  text-overflow: ellipsis;
  text-align: center;
}

.form {
  background-color: hsla(233, 10%, 10%, 1);
  border-radius: 0.5rem;
}

.message {
  height: 6rem;
  resize: none;
}

.status {
  border-radius: 0.5rem;
  color: hsla(233, 10%, 10%, 1);
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: 0.5rem;
  text-transform: uppercase;
  padding: 0 0.25rem 0 0.5rem;
}

.confirmed {
  composes: status;
  background: #18cdca;
}

.unconfirmed {
  composes: status;
  background: #ff5349;
  color: #f0f0f1;
}
