.btn-group.payment-method {
  margin-bottom: 3rem;
}

.btn-group.payment-method .btn {
  color: hsla(233, 10%, 75%, 1);
  flex: 0 0 auto;
  padding: 0.5rem 1rem;
  min-width: auto;
}

.btn-group.payment-method .btn.method-active {
  color: #18cdca;
}

.btn-group.payment-method .btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-group.payment-method .btn:focus {
  box-shadow: none;
}

.btn-group.payment-method
  .btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: #000;
  border-color: #000;
  box-shadow: none;
  color: #18cdca;
  cursor: pointer;
}

.payment-methods {
  border-radius: 0;
  padding: 1.5rem;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.payment-methods.manual {
  background: hsla(233, 10%, 20%, 1);
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.payment-methods p:last-of-type {
  margin-bottom: 0;
}

.please-note {
  color: #ff5349;
  padding: 0 1rem;
}

@media (min-width: 576px) {
  .payment-methods {
    border-radius: 0.5rem;
  }
}
