.player {
  background: hsla(233, 10%, 10%, 1);
  bottom: 0;
  color: hsla(233, 10%, 75%, 1);
  font-size: 2rem;
  position: fixed;
  text-align: center;
  transform: translateY(100%);
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  visibility: hidden;
  width: 100%;
}

.player.show {
  transform: translateY(0);
  visibility: visible;
}

.player .interface {
  align-items: center;
}

.player .interface .controls {
  align-items: center;
  display: flex;
  justify-content: center;
}

.player .player-button {
  font-size: 2rem;
  padding: 0.5rem;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.player .player-button:hover,
.player .player-current-time:hover {
  color: #f0f0f1;
  cursor: pointer;
}

.player .player-button.waiting {
}

.player .player-button.waiting:hover {
  color: hsla(233, 10%, 50%, 1);
  cursor: unset;
}

.player-current-time {
  padding: 0 1rem;
  display: inline-block;
  text-align: right;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  width: 7rem;
}

.player-current-time:focus {
  outline: none;
}

#player-progress {
  background: hsla(233, 10%, 50%, 1);
  height: 100%;
  transition: 0.125s cubic-bezier(0.2, 0.8, 0.4, 1);
  width: 0;
}

.player .seek-bar {
  height: 4px;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
  width: 100%;
}

.player:hover .seek-bar {
  background: hsla(233, 10%, 20%, 1);
  cursor: pointer;
  height: 8px;
}

.player:hover #player-progress {
  background: #18cdca;
}

.player .track-info {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 1rem;
  text-align: left;
  text-overflow: ellipsis;
}

.player .track-info .no-link {
  color: #18cdca;
  font-weight: bold;
}

.player-button.hide-player {
  color: hsla(233, 10%, 50%, 1);
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .player .interface .controls {
    justify-content: flex-end;
  }
}
