.disabled-textarea,
.disabled-textarea[readonly],
.disabled-textarea:active,
.disabled-textarea:disabled,
.disabled-textarea:focus,
.disabled-textarea.form-control:focus {
  animation: fadeIn 0.5s cubic-bezier(0.2, 0.8, 0.4, 1) 1 normal;
  background: hsla(233, 10%, 10%, 1);
  border: 0;
  border-radius: 0.5rem;
  color: #f0f0f1;
  font-size: 1.3rem;
  height: 4rem;
  line-height: 1.5rem;
  margin: 0 auto 3rem auto;
  overflow: hidden;
  padding: 0.5rem;
  resize: none;
  text-align: center;
  max-width: 38rem;
  -webkit-appearance: none;
}

.disabled-textarea.form-control:focus {
  box-shadow: none;
}

.disabled-textarea::placeholder {
  color: hsla(233, 10%, 50%, 1);
}

@media (min-width: 768px) {
  .disabled-textarea,
  .disabled-textarea[readonly],
  .disabled-textarea:active,
  .disabled-textarea:disabled,
  .disabled-textarea:focus,
  .disabled-textarea.form-control:focus {
    height: 2.5rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
