.selected-release {
  flex: 1;
}

.selected-release .col-artwork {
  margin: 0;
  padding: 0;
}

.selected-release .buy-button {
  margin: 2rem auto;
}

.selected-release .tracklist-wrapper.columns {
  columns: 2 16rem;
}

.selected-release .tracklist {
  color: hsla(233, 10%, 75%, 1);
}

.selected-release .tracklist li a {
  cursor: pointer;
  font-weight: normal;
}

.selected-release .tracklist .now-playing {
  animation: now-playing 2s ease 1s infinite alternate;
  color: #18cdca;
  padding-left: 0.5rem;
}

.selected-release .artwork {
  align-self: flex-start;
  position: relative;
}

.selected-release .artwork img {
  transition: opacity 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.selected-release .artwork .lazyload,
.selected-release .artwork .lazyloading {
  opacity: 0;
}

.selected-release .artwork .lazyloaded {
  opacity: 1;
}

.artwork .cover-artwork-overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  font-size: 4rem;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  visibility: hidden;
}

.artwork:hover .cover-artwork-overlay {
  opacity: 1;
  cursor: pointer;
  visibility: visible;
}

.artwork .cover-artwork-overlay .play {
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.release-info {
  background: hsla(233, 10%, 10%, 1);
  padding: 1rem;
}

.release-info .release-title {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}

.release-info .artist-name a {
  font-weight: 400;
}

.release-info .in-collection {
  font-size: 1rem;
  vertical-align: top;
}

.release-info .release-price {
  display: flex;
  align-items: center;
  color: #ff5349;
  margin-bottom: 2rem;
}

.release-info .release-price::before,
.release-info .release-price::after {
  background: #ff5349;
  content: '';
  flex: 1 0 auto;
  height: 1px;
}
.release-info .release-price::before {
  margin-right: 0.25rem;
}

.release-info .release-price::after {
  margin-left: 0.25rem;
}

.release-info p.credits,
.release-info p.info {
  white-space: pre-line;
}

.release-info p.copyright {
  font-size: 80%;
}

.release-info p:last-child {
  margin-bottom: 0;
}

.release-info div.tags {
  margin-bottom: -0.5rem;
}

.release-info div.tag:hover {
  color: #18cdca;
}

@media (min-width: 768px) {
  .selected-release .col-artwork {
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1600px) {
  .release-info .release-title {
    font-size: 3rem;
  }

  .release-info .artist-name {
    font-size: 2rem;
  }

  .release-info .release-price {
    font-size: 1.2rem;
  }
}

@keyframes now-playing {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
