.fa-spin.spinner {
  /* animation: spinner-gradient 1s linear normal infinite; */
  color: #18cdca;
  font-size: 4rem;
}

.spinner-message {
  margin-bottom: 2rem;
}

@keyframes spinner-gradient {
  0% {
    color: #4f80e1;
    transform: rotate(0deg);
  }

  50% {
    color: #18cdca;
  }

  100% {
    color: #4f80e1;
    transform: rotate(359deg);
  }
}
