.toast {
  border: 0;
  border-radius: 0.5rem;
  bottom: 5rem;
  font-weight: 600;
  position: fixed;
  right: 3rem;
  z-index: 1070;
}

.toast.toast-show {
  animation: toast 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  visibility: visible;
}

.toast.toast-fade {
  opacity: 0;
  transition: all 2s cubic-bezier(0.2, 0.8, 0.4, 1);
  transform: translateY(0.5rem);
  visibility: hidden;
}

.toast.alert {
  background: #000;
  color: #18cdca;
}

.toast.alert.alert-success {
  /* color: #4f80e1; */
}

.toast.alert.alert-danger {
  color: #ff5349;
}

@keyframes toast {
  from {
    transform: translateX(-2rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
