.list {
  bottom: 4rem;
  pointer-events: none;
  position: fixed;
  right: 2rem;
  z-index: 1060;
}

.alert {
  background: rgba(0, 0, 0, 0.75);
  border: 0;
  border-radius: 0.5rem;
  color: #18cdca;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.alert:last-child {
  margin-bottom: 0;
}

.show {
  animation: toast 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  opacity: 1;
  visibility: visible;
}

.fade {
  opacity: 0;
  transition: all 2s cubic-bezier(0.2, 0.8, 0.4, 1);
  transform: translate(0, 0.5rem);
  visibility: hidden;
}

.warning {
  color: #ffd24d;
}

.danger {
  color: #ff5349;
}

@keyframes toast {
  from {
    transform: translateX(-2rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
