.transactions {
  animation: fadeIn 0.5s cubic-bezier(0.2, 0.8, 0.4, 1) 1 normal;
}

.transactions .segment {
  background: hsla(233, 10%, 20%, 1);
  border-radius: 0;
}

.bold {
  font-weight: 600;
}

button.refresh-txs {
  display: inline-block;
  min-width: auto;
}

.transactions .table-dark {
  animation: fadeIn 1s cubic-bezier(0.2, 0.8, 0.4, 1) 1 normal;
  color: #f0f0f1;
  white-space: nowrap;
}

.transactions .table-dark .col-item {
  width: 10%;
}

.transactions .table-dark .col-date {
  width: 70%;
}

.transactions .table-dark .col-price {
  width: 20%;
}

.transactions .table-dark thead {
  background-color: hsla(233, 10%, 10%, 1);
  color: #f0f0f1;
}

.transactions .table-sm th,
.transactions .table-sm td {
  padding: 0.5rem;
  border: 0;
}

.transactions .table-dark tbody {
  background: hsla(233, 10%, 20%, 1);
}

.transactions .table-dark th {
  text-transform: uppercase;
}

.transactions .table-dark td {
  text-overflow: ellipsis;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: hsla(233, 10%, 15%, 1);
}

.transactions .table-dark tfoot {
}

button.download-button {
  transition: transform 1s;
  width: 100%;
}

button.download-button:hover {
  color: #000;
}

button.download-button:hover .fa {
  animation: jump 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  50% {
    transform: translateY(-0.3rem);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
}

@media (min-width: 576px) {
  .transactions .segment {
    border-radius: 0.5rem;
  }
}
