.frontPage {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

.load {
  margin-top: 1rem;
  min-width: auto;
  padding: 0.5rem 1rem;
}

.button {
  margin-top: 1.5rem;
}

.wrapper {
  display: flex;
  justify-content: center;
}

@media (min-width: 576px) {
  .frontPage {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .frontPage {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .frontPage {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1600px) {
  .frontPage {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1920px) {
  .frontPage {
    grid-template-columns: repeat(6, 1fr);
  }
}
