.loader {
  animation: loader 6s linear infinite;
  backface-visibility: hidden;
  background: linear-gradient(45deg, var(--charcoal) 30%, var(--darker-grey) 50%, var(--charcoal) 70%);
  background-size: 200%;
  border-radius: 10rem;
  height: 40px;
  width: 13.5rem;
}

.item {
  animation: loader 4s linear infinite;
  background: linear-gradient(
    45deg,
    var(--lighter-grey) 0%,
    var(--lighter-grey) 30%,
    #f1f2f3 50%,
    var(--lighter-grey) 80%
  );
  background-size: 200%;
  border-radius: 0.25rem;
  height: 18px;
  margin-top: 4px;
}

.methods {
  margin-bottom: 2rem;
  height: 22rem;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.buttons > .select {
  color: var(--lighter-grey);
  flex: 0 0 auto;
  margin: 0;
  min-width: 6.75rem;
  padding: 0.5rem 1rem;
  transition: color 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.buttons > .select:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.buttons > .select:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.buttons > .select:hover {
  background-color: #000;
  color: var(--lighter-grey);
}

.buttons > .selected {
  color: var(--cyan);
}

.buttons > .selected:hover {
  color: var(--cyan);
}

@keyframes loader {
  0% {
    background-position: 200%;
  }

  100% {
    background-position: -200%;
  }
}
