.footer {
  background: hsla(233, 10%, 20%, 1);
  color: hsla(233, 10%, 50%, 1);
  padding: 2rem;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a,
.footer a:hover,
.footer a:active,
.footer a:visited,
.footer a:focus {
  color: hsla(233, 10%, 50%, 1);
  transition: 0.25s;
}

.footer a:hover {
  color: #18cdca;
}

.social a {
  font-size: 2rem;
}

.social a:hover {
  color: #18cdca;
}
