.sort {
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;
}

.buttons {
  align-items: center;
  display: flex;
  position: relative;
}

.sortButton {
  background: none;
  border: none;
  color: var(--light-grey);
  font-size: 0.875rem;
  letter-spacing: 0.075rem;
  margin-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.sortButton > .sortIcon {
  color: var(--light-grey);
}

.sortButton:disabled,
.sortButton:disabled:hover {
  color: var(--light-grey);
  opacity: 0.5;
}

.sortButton:hover {
  background: none;
  border: none;
  color: #18cdca;
}

.sortList {
  background: var(--darker-grey);
  border-bottom-right-radius: 0.5rem;
  color: var(--lighter-grey);
  font-size: 0.875rem;
  left: 0;
  letter-spacing: 0.075rem;
  list-style-type: none;
  margin-top: 0.5rem;
  min-width: 12rem;
  padding: 0;
  position: absolute;
  z-index: 1000;
}

.sortItem {
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 0;
  font-weight: 700;
  text-transform: uppercase;
}

.sortItem:hover {
  color: var(--cyan);
}

.sortItem:last-child {
  padding: 0.5rem 1rem 1rem 0;
}
