.sort {
  display: inline-block;
  margin-bottom: 1rem;
}

.buttons {
  align-items: center;
  display: flex;
}

.sortButton {
  background: none;
  border: none;
  color: var(--light-grey);
  margin-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.sortButton > .sortIcon {
  color: var(--light-grey);
}

.sortButton:disabled,
.sortButton:disabled:hover {
  color: var(--light-grey);
  opacity: 0.5;
}

.sortButton:hover {
  background: none;
  border: none;
  color: #18cdca;
}

.sortList {
  background: var(--darker-grey);
  border: 0;
  border-bottom-right-radius: 0.5rem;
  color: var(--lighter-grey);
  list-style-type: none;
  margin-top: 0.5rem;
  padding: 0;
}

.sortItem {
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 0;
  font-weight: 500;
  text-transform: uppercase;
}

.sortItem:hover {
  color: var(--cyan);
}

.sortItem:last-child {
  padding: 0.5rem 1rem 1rem 0;
}
