.wrapper {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 3rem;
}

.spinner {
  animation: spinner 0.75s cubic-bezier(0.8, 0.2, 0.2, 0.6) 0s infinite normal none;
  border-width: 0.5rem;
  border-style: solid;
  border-color: var(--mid-grey);
  border-top-color: var(--cyan);
  border-radius: 50%;
  height: 5rem;
  margin: 0 auto;
  width: 5rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
