.icon {
  color: var(--lighter-grey);
  margin-right: 0.5rem;
}

.error {
  color: var(--red);
}

a.link {
  color: var(--lighter-grey);
  display: block;
  font-weight: 600;
  padding: 1rem 1rem;
  text-transform: uppercase;
  transition: color 0.25s ease-in-out;
}

a.link:hover,
a.link:hover .icon {
  color: var(--cyan);
}

a.link:global(.active) {
  background: var(--darker-grey);
  color: var(--off-white);
}

a.link:global(.active) .icon {
  color: var(--yellow);
}
