.container {
  background: var(--charcoal);
  display: flex;
  flex-direction: column;
  height: 44rem;
  max-height: 90vh;
  overflow: hidden;
  width: 48rem;
  max-width: 90vw;
  padding: 3rem;
}

.heading {
  align-items: center;
  justify-self: flex-start;
  margin-bottom: 2rem;
  text-align: center;
}
