.container {
  background: var(--charcoal);
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-height: 900px;
  padding: 2rem;
}

.heading {
  align-items: center;
  justify-self: flex-start;
  margin-bottom: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    padding: 3rem;
  }
}
