.columns {
  columns: 2 16rem;
}

.release {
  align-self: stretch;
  flex: 1;
}

.col {
  margin: 0;
  padding: 0;
}

.trackList {
  color: hsla(233, 10%, 75%, 1);
}

.info {
  background: hsla(233, 10%, 10%, 1);
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}

.title {
  font-style: italic;
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.name {
  text-align: center;
}

.name a {
  font-weight: 400;
}

.price {
  display: flex;
  align-items: center;
  color: #ffd24d;
  margin-bottom: 2rem;
}

.price::before,
.price::after {
  background: hsla(233, 10%, 30%, 1);
  content: '';
  flex: 1 0 auto;
  height: 1px;
}
.price::before {
  margin-right: 0.5rem;
}

.price::after {
  margin-left: 0.5rem;
}

.credits,
.info {
  white-space: pre-line;
}

.info p:last-child {
  margin-bottom: 0;
}

.buttons {
  display: flex;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .info {
    margin: 1rem 0;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1600px) {
  .title {
    font-size: 3rem;
  }

  .name {
    font-size: 2rem;
  }

  .price {
    font-size: 1.2rem;
  }
}
