.root {
  align-items: center;
  display: flex;
}

.columns {
  columns: 2 16rem;
}

.release {
  align-self: stretch;
  flex: 1;
}

.col {
  margin: 0;
  padding: 1rem;
}

.trackList {
  color: var(--lighter-grey);
}

.info {
  background: hsla(233, 10%, 10%, 1);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: 1rem 0;
  padding: 1rem;
  position: relative;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.name {
  font-size: 2rem;
  text-align: center;
}

.name a {
  font-weight: 400;
}

.credits,
.info {
  white-space: pre-line;
}

.info p:last-child {
  margin-bottom: 0;
}

.buttons {
  display: flex;
  margin-top: 1rem;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1600px) {
}
