.wrapper {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

.textarea,
.textarea[readonly],
.textarea:active,
.textarea:disabled,
.textarea:focus,
.textarea.form-control:focus {
  background: hsla(233, 10%, 10%, 1);
  border: 0;
  border-radius: 0.5rem;
  color: #f0f0f1;
  font-size: 1.3rem;
  height: 4rem;
  line-height: 1.5rem;
  overflow: hidden;
  padding: 0.5rem 2rem;
  resize: none;
  text-align: center;
  -webkit-appearance: none;
}

.textarea::placeholder {
  color: hsla(233, 10%, 50%, 1);
}

.textarea:hover {
  cursor: pointer;
}

.icon {
  color: hsla(233, 10%, 50%, 1);
  left: 0.75rem;
  pointer-events: none;
  position: absolute;
  top: 0.75rem;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.textarea:hover + .icon {
  color: #18cdca;
}

.textarea::selection {
  background-color: #18cdca;
}

.success {
  bottom: -2.25rem;
  color: #18cdca;
  font-weight: 600;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  position: absolute;
  right: 0.25rem;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
  visibility: hidden;
}

.success.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 66.6667%;
  }

  .textarea,
  .textarea[readonly],
  .textarea:active,
  .textarea:disabled,
  .textarea:focus,
  .textarea.form-control:focus {
    height: 2.5rem;
  }
}
