.artist {
  font-size: 3rem;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

.container {
  padding: 1rem;
  padding-right: 0;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

.releases {
  padding: 0 1rem 0 0;
}

.info {
  padding: 0 1rem 0 0;
}

.biography {
  background-color: var(--charcoal);
  padding: 3rem;
}

.links {
  margin-top: 1.5rem;
}

.linksList {
  list-style: none;
  padding: 0 3rem 1.5rem;
}

.link {
  margin-bottom: 0.5rem;
}

.link:last-of-type {
  margin-bottom: 0;
}

.title {
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
