.playerButton {
  margin: 0 0.5rem 0 0;
  padding: 0;
  transition: color 0.5s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.playerButton:hover {
  color: #f0f0f1;
  cursor: pointer;
}

.playerButton svg {
  height: 2rem;
  width: 2rem;
}

.waiting:hover {
  color: hsla(233, 10%, 50%, 1);
  cursor: unset;
}
