/* Global */

.heading {
  margin-top: 1.5rem;
  text-align: center;
}

.list {
  background-color: var(--charcoal);
  list-style: none;
  margin: 3rem;
  padding: 1.5rem;
}

.artistName {
  color: var(--light-grey);
  font-size: 1.25rem;
  padding: 0.25rem;
  transition: color 400ms ease-in-out;
}

.active {
  color: var(--cyan);
}

.section {
  background-color: var(--charcoal);
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  padding: 3rem;
}

.h5 {
  margin-bottom: 1rem;
}

.fields {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--light-grey);
  font-weight: 500;
  margin: 0 0.75rem 1rem 0;
}

.label > .h5 {
  color: var(--off-white);
  margin: 0;
}

.input {
  background-color: var(--off-white);
  border: 0;
  border-radius: 0.5rem;
  padding: 0.375rem 0.75rem;
}

.input:focus {
  background-color: #fff;
}

.hint {
  color: var(--light-grey);
}

.error {
  color: var(--red);
}

.submit {
  display: flex;
  justify-content: flex-end;
}

/* Names */

.artistLink {
  margin-left: 1rem;
}

.names {
  display: flex;
  flex: 1;
  margin-bottom: 0.5rem;
}

.name {
  align-items: baseline;
  display: flex;
  flex: 1 0 auto;
  margin-right: 1rem;
}

.nameInput {
  composes: input;
  flex: 1 1;
  margin-bottom: 0.5rem;
}

.nameInput:not(:last-child) {
  margin-right: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.slug {
  align-items: baseline;
  display: flex;
  flex: 1 0 auto;
}

/* Biography */

.biography {
  composes: input;
  height: 24rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.charCount {
  color: var(--light-grey);
}

.charCount.minReached {
  color: var(--yellow);
}

/* Links */

.links {
  display: flex;
  flex: 1;
  margin-bottom: 1rem;
}

.link {
  align-items: baseline;
  display: flex;
  flex: 1;
  margin-right: 1rem;
}

.linkInput {
  composes: input;
  flex: 1;
}

.linkAdd {
  margin-bottom: 0.5rem;
}

.linkRemove {
  align-self: center;
  padding: 0.25rem 0.5rem;
}
