.dropzone {
  background: #000;
  border: 2px dashed var(--light-grey);
  border-radius: 0.25rem;
  color: var(--light-grey);
  font-weight: 600;
  margin: 2rem auto;
  max-height: 12rem;
  min-height: 8rem;
  overflow: hidden;
  padding: 1rem;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
}

.dropzone p {
  margin: 0;
}

.dropzone:hover {
  background-color: #000;
  border-color: var(--cyan);
  color: var(--cyan);
  cursor: pointer;
}

.active,
.uploading {
  composes: dropzone;
  background-color: #000;
  border-color: var(--yellow);
  color: var(--yellow);
  cursor: pointer;
}

.rejected {
  composes: dropzone;
  background-color: #000;
  border-color: var(--red);
  color: var(--red);
  cursor: not-allowed;
}

.dropzone.disabled:hover {
  cursor: wait;
}
