.gradient {
  animation: fadeIn 1s cubic-bezier(0.2, 0.8, 0.4, 1) 1 normal;
  background: linear-gradient(to right, var(--red), var(--cyan));
  height: 4px;
  width: 100%;
}

.header {
  animation: fadeIn 0.5s cubic-bezier(0.2, 0.8, 0.4, 1) 1 normal;
  background: var(--dark-grey);
  padding-bottom: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
