.summary {
  background: none;
  border: 0;
  color: var(--off-white);
  display: block;
  margin: auto 0 4rem;
  padding: 0;
  text-align: left;
  transition: 0.25s cubic-bezier(0.2, 0.8, 0.4, 1);
  width: 100%;
}

.summary:disabled {
  cursor: wait;
}

.summary:last-child {
  margin-bottom: 0;
}

.info {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.paid {
  color: var(--yellow);
}

.node {
  color: var(--light-grey);
  display: inline-block;
  flex: 1 1 auto;
  font-size: 0.875rem;
  overflow: hidden;
  margin-left: 2rem;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  margin-right: 0.25rem;
}

.refresh {
  display: flex;
  color: var(--cyan);
  flex-wrap: nowrap;
  font-weight: 700;
  justify-content: space-between;
  margin-top: 0.25rem;
}

.button {
  flex: 1 0 auto;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  display: inline-block;
}

.icon {
  margin-right: 0.25rem;
  transition: opacity 2s;
}

.active {
  animation: blink 250ms cubic-bezier(0, 0.15, 0.85, 1) infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
